<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEJOUD</title>
    <link rel="shortcut icon" href={% static "nejoud/fav.png" %} />
    <meta name="keywords" content="Nejoud,Restaurant,Management,Company,Kuwait">
    <meta name="description" content="Nejoud Restaurant Management Company">
</head>
<body>
<style>
body {
    background-color: #ED3735;
    background-image: url({%static 'nejoud/nejoud_new.jpg' %});
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: contain;
    display: grid;
    justify-content: center; 
    align-items: center;
}
</style>
</body>
</html>